<%- partial('_partial/head') %>
<body>
<header id="header">
	<div class="wrapper"><%- partial('_partial/header') %></div>
</header>
<div id="posts">
	<%- body %>
</div>
<footer id="footer">
	<div class="wrapper"><%- partial('_partial/footer') %></div>
</footer>
<%- partial('_partial/after_footer') %>
</body>
</html>