<% if (index){ %><h1><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h1><% } else { %><h1><%= item.title %></h1><% } %>
			<div class="post-time"><time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time></div>